body {
	
	max-width: 100%;
}

div {
	
	margin-bottom: 10px;
}



.columns {
	
	width:50%;
	float: left;
}


.last {
	
	margin-bottom: 30px;
}

input:hover{
	
	border-color: grey;
}

.type1:hover{
	
	color: grey;
}

