body {
	
	margin: 0 auto;
	font-family: Arial;
	font-size: 15pt;
}

h1,h2,h3 {
	
	text-align: center;
	margin-top: 20px;
}

li {
	
	margin-bottom: 5px;
}

a {
	
	text-decoration: none;
	color: darkblue;	
}

.border {
	
	border: 1px solid darkblue;
	border-radius: 20px;
	width:700px;
	padding-left: 12px;
}



.border:hover {
	
	border-left-width: 10px;
	border-color: green;
}

a:hover {
	
	color: green;
}
